<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; width: 100%; height: 60px; background: linear-gradient(90deg, #d00681 0%, hsl(242deg 81.37% 71.23%) 100%); color: white;">

      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title class="text-md">The Way of the Bear</ion-title>

      <a routerLink="/Add_To_Cart">
        <ion-icon slot="end" class="text-xl pr-6 text-white" name="cart-outline"></ion-icon>
      </a>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='SSrounded-md p-2'>
    <img src="assets/p1.png" alt="" class='rounded-sm'/>
  </div>

  <div class='border-b border-red-600 border-dashed'>
    <p class='text-black font-bold text-lg mt-1' style="text-align: center;">The Way of the Bear</p>
    <div class='p-1 -mt-2' style="text-align: center;">
      <p class='text-gray-400 text-xs mt-1'>MRP: ₹ 800</p>
      <p class='text-red-400 text-xs mt-1'>DP: ₹ 400</p>
    </div>
  </div>

  <div class='pl-2'>
    <p class='text-black text-md mt-3 pl-2'>Product Details</p>
  </div>

  <div class='p-1 -mt-2 border-b border-gray-400'>
    <ol class='p-2 pl-2 mt-2 text-gray-500 text-sm'>
      <li> 1. All Books available in Digital PDF Format.</li>
      <li> 2. E-Books are downloadable.</li>
      <li> 3. All E-Books in Hindi Version.</li>
      <li> 4. All Taxes included in Price.</li>
    </ol>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <a routerLink="/addtocart">
      <div class='text-center'>
        <p class='p-2 pl-2 pr-2 text-white'>Add To Cart</p>
      </div>
    </a>
  </ion-toolbar>
</ion-footer>
